@model IEnumerable<QLBS.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}

<h2>Sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@using (Html.BeginForm("index", "SachsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Cập Nhật" class="btn btn-danger" />
    </div>
}

<table class="table">
    <tr>
        <th>
            Tên tác giả
        </th>
        <th>
            Tên thể loại
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TacGias.TenTacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoais.TenTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSach)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDSach }) |
                @Html.ActionLink("Thông tin", "Details", new { id = item.IDSach }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.IDSach })
            </td>
        </tr>
    }

</table>
